/* header style */
.wrapper{
    padding: 0 5%;
}

.logo{
    display: inline-block;
}

.header-text{
    padding: 18% 18% 40% 50%;
    font-size: 32px;
}

.header-top{
    padding: 0;
    background-color: rgba(0,0,0,0.0);
    color: #FFFFFF;
}

@media  (max-width: 797px){
    .header-top{
        background-color: rgba(0,0,0,0.8);
    }

    .logo{
        margin: auto;
    }
    .social-icon{
        display: none;
    }
    .header-text {
        font-size: 22px;
        padding: 0 0 0 0;
    }

}



.header{
    color: #FFFFFF;
    background: url("../images/Header-image.png");
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position:center center;
    font-family: 'Open Sans', sans-serif;
    /*height: 650px;*/
}
.logo-info{
    line-height: 43px;
    margin: auto 0;
}


.header .navbar{
    margin-bottom: 0;
}

.header .navbar-nav > li > a{
    color: #FFFFFF;
    font-family: 'Open Sans' , sans-serif;
    font-weight: 400;

}

.header .navbar-nav > li > a .icon-bar{
    color: #FFFFFF;
    background-color: #FFFFFF;
}

.header .navbar-nav > li > a:hover{
    text-align: center;
    background: none;
    /*color: grey;*/
    text-decoration: underline;
}
.header .navbar-nav > li > .social-icon:hover{
    text-align: center;
    background: none;
    /*color: grey;*/
    text-decoration: none;
}

.header-bottom, .header-top{
    padding-left: 60px;
}

.social-icon{
    display: inline-block;
}
.navbar .navbar-toggle .icon-bar{
    background-color: #FFFFFF;
}

.header-bottom{
    padding-top: 40px;
}


/* takeoff section */
.take-off{
    background: #ffffff none no-repeat scroll center center / cover ;
    /*margin: auto;*/
    /*width: 65%;*/
    text-align: center;
    padding: 2%;
}

.take-off .profile-info{
    padding-top: 10%;
}

.take-off-header{
    color: #ffb734;
}

.take-off-wrapper{
    margin: auto;
    width: 65%;
}

.logo-with-plane{
    display: block;
    margin: auto;
}

.take-off-item{
    padding-top: 5px;
}


/* profile section style */
.profile{
    background: url("../images/image2.png") no-repeat center center;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    /*padding: 5px 10%;*/
    color: #FFFFFF;
    padding: 16% 0;
}

.profile img{
    padding: 30px 0;
}

.profile-item{
    font-family: open sans;
    /*font-size: 20px;*/
    /*text-align: center;*/
}

.profile-item-header p{
    font-size: 20px;
}

.profile-item-header p span{
    font-size: 30px;
}

/* section below profile page */

.section2{
    background: url('../images/image3.png') no-repeat scroll center center / cover ;
    /*margin: auto;*/
    /*width: 65%;*/
    text-align: center;
}

.section-content{
    padding: 5% 2% 55% 0;
}

/* footer section design */

.footer-top{
    padding: 2% 5%;
}

.footer-top-content{
    width: 95%;
    margin: auto;
}

.review-head{
    text-align: center;
}
.review-label{
    padding-left: 0;
    text-align: center;
}

@media (max-width: 767px) {
    .review-label{
        padding-left: 0;
        text-align: center;
    }
}

@media (min-width: 767px) {

}

@media (min-width: 900px) {
    .review-label{
        padding-left: 60px;
        text-align: left;
    }
}

.slider-arrow{
    padding-top: 5%;
}

/* button design section */
.btn-custom{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: medium none;
}

.btn-sign-up{
    color: #ffffff;
    background-color: #e23f3a;
}
.btn-sign-up li a{
    color: #FFFFFF;
}
.btn-learn-more{
    color: #000000;
    background-color: #FFFFFF;
}

.profile .btn-custom{
    width: 130px;
    margin-bottom: 20px;
}

.profile-item .btn-learn-more{
    float: right;
}

.btn-mobile-only{
    margin: 22px auto;
    display: block;
    width: 210px;
    height: 32px;
    color: #ffffff;
}

/* end of button design section*/

/* code for responsive design  N.B this part should be last section */

@media (max-width: 360px) {


    .header-bottom, .header-top{
        padding-left: 5px;
    }
    .header-text{
        padding: 15% 10% 20% 43%;
        font-size: 25px;
    }
    .logo{
        display: block;
        margin: auto;
        width: 210px;
    }
    .logo-with-plane{
        clear: both;
        margin: auto;
    }

    .take-off-wrapper {
        margin: auto;
        width: 95%;
    }
    .take-off .profile-info{
        padding-top: 7%;
    }

}

@media (min-width: 361px) {
    .header-bottom, .header-top{
        padding-left: 10px;
    }

    .header-text {
        font-size: 25px;
        padding: 15% 10% 20% 43%;
    }

    .logo{
        display: block;
        margin: auto;
        width: 210px;
    }
    .logo-with-plane{
        clear: both;
        margin: auto;
    }
    .take-off .profile-info{
        padding-top: 25%;
    }
    .take-off-wrapper {
        margin: auto;
        width: 95%;
    }

}


@media (min-width: 768px) {
    .header-bottom, .header-top{
        padding-left: 15px;
    }

    .header-text{
        padding: 18% 18% 40% 50%;
        font-size: 32px;
    }
    .logo{
        display: inline-block;
        margin: 0;
    }
    .take-off .profile-info{
        padding-top: 10%;
    }
    .take-off-wrapper {
        margin: auto;
        width: 65%;
    }

}

@media (min-width: 980px) {
    .header-bottom, .header-top{
        padding-left: 40px;
    }
}

@media (min-width: 1200px) {
    .header-bottom, .header-top{
        padding-left: 60px;
    }
}

/* end of responsive */