body{font-family: 'Open Sans', sans-serif; font-size:13px; color:#000000; background:#f3efed;}
.top_bar{background:#333333; width:100%; float:left; color:#FFF;}
.welcome_txt{font-size:12px; padding:13px 0; font-weight:600; float:left;}
.top_links{float:right; font-weight:600; font-size:12px; padding:13px 0 ; display:block;}
.top_links a{margin:0 17px; float:left; color:#FFFFFF;}
.top_links a:hover{color:#ffcc33;}
.top_social{float:right; padding:15px 0 0 0; margin:0 0 0 15px;}
.top_social a{float:left; margin:0 5px; color:#FFF; background:url(../images/top_socail_links.png) no-repeat; width:12px; height:14px; text-indent:-200px; overflow:hidden;}
.top_social a:last-child{margin:0 0 0 5px;}
.top_social a.facebook{width:7px; background-position:0 0 ;}
.top_social a.twitter{background-position:-18px 0;}
.top_social a.linkedin{background-position:-40px 0;}
.top_social a.gplus{background-position:-63px 0;}
.header{background:#FFFFFF; width:100%; float:left; border-bottom:1px solid #ffb734;}

.logo{width:137px; height:41px; float:left; margin:17px 0 11px 0;}

.nav{float:right; margin:26px 0 0 0;}
.nav ul {float:left; margin:0; padding:0;}
.nav ul li{float:left; margin:0; padding:0; list-style:none; margin:0 19px;}
.nav li a{color:#333333; font-size:12px; text-transform:uppercase; font-weight:600;}
.nav li a:hover{color:#e23f3a; text-decoration:none;}
.nav ul li:last-child{margin:0 0 0 19px;}

.main{padding:28px 0 0 0; float:left; width:100%;}
.main .col-md-9{padding:0;}
.top_menu ul{padding:0 0 0 0; margin:0;}
.top_menu li{width:20%; min-height:85px; background:#575656; list-style:none; float:left; border-right:2px solid #FFFFFF;}
.top_menu li a{min-height:85px; background:#575656; width:100%; float:left; text-align:center; vertical-align:middle; color:#fff; font-weight:600; font-size:12px; text-transform:uppercase; padding:18px 0 13px 0;}
.top_menu li:last-child{ border-right:none;}
.top_menu li a img{margin:0 0 5px 0;}
.top_menu li a span{width:100%; float:left;}
.conformation_status{margin:0px 0 20px 0; padding:0px; width:100%; float:left;}
.conformation_status table{margin:0px; padding:0px; float:right;}
.conformation_status table td span{margin-right:10px; }
.conformation_status table td img{margin-right:2px; border:0px; margin-top:-4px;}
.profile_page_bottom {
  padding:20px 40px 40px 40px;
}
.box_status{margin:0px 0; padding:20px 0px; border-bottom:1px solid #d5d4d4; width:100%; float:left; }

.box_status .left{float:left; width:70%;}
.box_status .right{float:right}

.box_status .left img{float:left; margin-right: 10px;}
.box_status .left .heading{color:#606366; font-size:13px; text-transform:uppercase;float:left; text-align:center; margin-right: 10px;}
.box_status .left .dec{color:#2e343b; font-size:14px; font-weight:600; text-transform:capitalize; float:left;   margin-right:20px;}
.normal_font{font-size:13px; line-height:22px; font-weight:400; margin:10px 0 0 0; display:inline-block;}
.box_status .left a{margin: 0px;  padding-top: 6px;  float: left;}
.box_status .right .button{background:#e2e2e2; color:#333333; font-size:12px; padding:4px 13px; float:left; margin-right:10px}
.box_status .right .button a{color:#333333; text-decoration:none; font-weight:600;}



.top_menu li a:hover , .top_menu li a.active{background:#ffb734; text-decoration:none;}
.top_margin{margin:16px 0 0 0;}
.white_bg{background:#fdfcfb; box-shadow:0 3px 3px rgba(0, 0, 0, 0.05); float:left; width:100%;}
.search_cont{padding:24px 35px; overflow:hidden;}
.search_inner{margin:0 0 0 0; width:78%; float:left; }
.search_btn{float:right; width:20%;}
.search_inner{background:#eeeeed url(../images/search_icon.png) 98% center  no-repeat;}
.search_inner input{background:#eeeeed; border:none; font-size:13px; color:#666666; padding:10px 13px; width:80%; font-weight:400;} 
.search_btn{padding:9px 28px; font-size:14px; text-transform:uppercase; font-weight:600;}
.search_results{padding:0 30px 20px 30px;}
.sr_main{border-bottom:1px solid #d7d7d7; padding:20px 0;}
.sr_main:last-child{border:none; padding:20px 0 12px 0;}
.image_lft{float:left; width:110px;}
.search_txt{float:left; padding:0 0 0 20px;}
.price_list{text-align:center; display:inline-block; margin:0 0 0 10px;}
.price_main{width:61px; height:61px; font-size:22px; font-weight:600; color:#3fbaa8; text-align:center; border:1px solid #3fbaa8; margin:0 0 10px 0; padding:13px 0 0 0;}
.saparator{margin:5px 0;}
.left_panel{width:244px; float:left;}
.content_panel{width:740px; float:right;}
.image_cont{float:left;}
.image_cont img{border-radius:60px; border:3px solid #e4e4e4;}
.txt_right_cont{margin:0 0 0 120px; padding:24px 0 0 0; color:#666666;}
.txt_tittle{font-size:14px; color:#333333;}
.left_image_main{width:100%; float:left; margin:0 0 15px 0; position:relative;}
.camera_icon{position:absolute; left:-8px; top:-10px; overflow:hidden; cursor:pointer; z-index:9;}
.camera_icon:hover{ cursor:pointer;}
.file_hide{position:absolute; top:0; left:0; opacity:0;}

.left_location{border-top:2px solid #f3efed; width:100%; float:left; text-align:center; color:#666666; padding:13px 15px 0 15px ;}
.left_location img{margin:0 10px 0 0;}


.no_shadow{
-webkit-box-shadow:none;
          box-shadow: none;
}

.refine_searh select{border:none; background:#eeeeed; width:100%; color:#666666; padding:5px 10px; margin:0 0 8px 0;}
.refine_inner{margin:0 0 14px 0; width:100%; float:left;}
.stars_cont{width:100%; float:left; margin:0 0 5px 0;}
.stars_cont a img{margin:0 8px 0 0;}
.stars_cont a:hover{text-decoration:none;}
.cal_input{background:#eeeeed  ; }
.cal_input input{background:#eeeeed; border:none; font-size:12px; color:#666666; padding:5px 10px;}
.cal_icon{float:right; margin:2px 5px 0 0;}
.footer{text-align:center; background:#1f2020; color:#FFFFFF; padding:15px 0; text-align:center; font-size:11px; margin:100px 0 0 0; float:left; width:100%;}
.refine_toggle{display:none; background:url(../images/refine_menu_icon.png) left center no-repeat; color:#333333; font-size:14px; padding:0 0 0 40px;   margin:23px 0 10px 0; float:left; }
.close_refine_btn{background:url(../images/close_refine_btn.png) right center no-repeat; padding:0 30px 0 0; font-size:14px; color:#333333; line-height:19px; font-weight:600; float:right; margin:16px 0; display:none; }
.menu_toggle{ background:url(../images/top_menu_icon.png) no-repeat; width:25px; height:21px; float:right; margin:10px 0 0 0; display:none;}
.top_menu_toggle{width:100%; background:#FFF url(../images/content-menu-toggle.png) right center no-repeat ; border:1px solid #d7d7d7; padding:7px 15px; color:#666666; font-size:15px; text-transform:uppercase; display:none;}
.refine_toggle:hover, .close_refine_btn:hover, .menu_toggle:hover{ cursor:pointer;}
.footer_links{width:100%; float:left; margin:0 0 10px 0; display:none;}
.footer_links a{width:100%; text-align:center; margin:4px 0; text-transform:uppercase; color:#FFF; float:left; font-size:12px;}
.footer .top_social{width:100%; float:left; text-align:center; display:block; padding:0; margin:0 0 20px 0; display:none;}
.footer .top_social a{float:none; display:inline-block;}


.profile_page{padding:35px 40px;}

h3{font-size:16px; color:#ffb734; font-weight:600; margin:0; padding:0;}
.profile_page .row{margin-top:30px;}
.profile_page .col-md-6, .profile_page .col-md-12{margin-bottom:10px; padding-right:0;}
.profile_page .col-sm-4, .profile_page .col-sm-8{padding:0;}
 .profile_page .col-sm-8{width:230px;}
 .profile_page .large{width:345px;}
.profile_page .col-sm-4{padding:0 15px 0 0; width:90px;}
.profile_page label{text-align:right; color:#339999; font-weight:400; width:100%; margin:6px 0 0 0;}
.profile_page .form-control, .booking_page .form-control{background:#eeeeed; border:none;}



.myselect_main{position:relative; display:inline-block; width:100%;}
.select_active{position:absolute;  top:0; width:100%; border:none; color:#58595b; padding:8px;  background:#eeeeed url(../images/dropdown_arw.png) no-repeat right center;}
 
.select_box{background:#efefef; border:1px solid #ff0e0d; color:#666;   padding:6px 9px;  opacity:0; width:100%;}
.dob_select{float:left; padding:0 0 0 10px; width:33.3333%;}
.dob_select:first-child{padding:0;}

.edit_profile label{width:135px; float:left; padding:0 15px 0 0;}
.hint_txt{margin:5px 0 5px 135px; color:#666666; display:block; }
.edit_profile .form-control{width:325px;}
.edit_profile div.form-control{float:left;}
div.form-control.textarea{height:auto;}
.edit_profile  .large-control, .tokenfield.form-control{width:425px;}
.tokenfield.form-control{float:left;}
.edit_profile  .small-control{width:47px;}

.btn_top_margin{margin-top:40px;}
.save_btn{width:180px; text-transform:uppercase;}

.cancel_btn{margin:0 0 0 20px !important;}

.booking_page .sr_main{border-bottom:1px solid #cccccc; padding:30px 0;}
.booking_page h4{font-size:16px; color:#333333;}
.booking_page h3{margin:20px 0; float:left; width:100%;}

.blue_label{color:#339999; font-weight:400;}

.booking_page{}

.alerts_page{padding:20px 40px;}
.alert_date{font-size:16px; font-weight:600; padding:5px 15px; color:#FFF; background:#36d2bb; float:left;}
.alert_list{width:100%; float:left; background:#FFF; margin:0 0 20px 0;}
.alert_inner{border-top:1px solid #e3e4e4; padding:15px 28px; position:relative;}
.alert_hdng{font-weight:600; margin:0;}
.alert_hdng span{font-weight:400;}
.alert_desc{width:80%; padding:0; margin:0;}

.alert_mark{position:absolute; top:20px; left:9px; background:url(../images/alert_circle.jpg) no-repeat; width:11px; height:11px;}
.alert_sidebar{border-color:#fbc058; background:#fdfcfb; font-size:10px; line-height:12px; padding-bottom:7px;}
.assist_cont{background:#fbc058 url(../images/book-a-callnow.jpg) left bottom no-repeat; padding:160px 18px; color:#FFF; font-size:25px; line-height:34px; }
.alert_sidebar p{margin:20px 0;}
.alert_sidebar a{color:#333;}

.assist_cont .btn{width:100%; text-transform:uppercase; margin:20px 0 0 0;}

.top_sub_menu{width:100%; float:left; border-top:7px solid #fdc259; background:#fdfcfb; box-shadow:0 3px 3px rgba(0, 0, 0, 0.05); margin:3px 0 0 0;}
.top_sub_menu ul{padding:0; margin:0; float:left; width:100%;}
.top_sub_menu  ul li{width:20%; list-style:none; float:left; border-right:1px solid #d9d9d9;}
.top_sub_menu  ul li:last-child{border-right:none;}

.top_sub_menu  ul li a{padding: 30px 0 0 44px; font-size:12px; font-weight:600; color:#666666; background:url(../images/top_sub_icons.png) 12px 30px no-repeat; width:100%; float:left; min-height:87px; text-transform:uppercase; line-height:14px;}
.top_sub_menu  ul li a:hover, .top_sub_menu  ul li a.active{color:#faaf2a; background-image:url(../images/top_sub_hover_icons.png); text-decoration:none;}

.top_sub_menu  ul li a.appoint_link{ background-position:12px 30px;}
.top_sub_menu  ul li a.total_money{ background-position:12px -80px;}
.top_sub_menu  ul li a.statistics{ background-position:12px -189px;}
.top_sub_menu  ul li a.news_feed{ background-position:12px -300px;}
.top_sub_menu  ul li a.pilot_follow{ background-position:12px -408px; padding:30px 0 0 50px;}

.body_pad{padding:40px;}
.table > thead > tr > th img{margin:0 7px 0 0;}

.app_list{font-size:16px; color:#666666; font-weight:300; float:left; width:100%; margin:0 0 20px 0;}
.app_list span{margin:13px 0 0 0; float:left;}
.app_list span.count{font-size:32px; margin:0 40px 0 0; float:left;}
.app_left{background:url(../images/app_line.jpg) left center no-repeat; font-size:16px; color:#666; padding:0 0 0 75px; font-weight:300; margin:13px 0 42px 0; }
.change_pword {float:left; margin:5px 0 0 20px; color:#333333; text-decoration:underline; }
.settings_page{padding:0 0 20px 0;}
.settings_page .col-sm-4{width:130px;}
.radio_cont{width:100px !important;}
.radio_txt{float:left; margin:6px 0 0 0;}
.booking_radio{float:left; margin:22px 0 0 0 !important;}
.booking_main{float:left; margin:0 30px 0 0;}

.booking_main .price_main{ background:#cccccc; color:#FFF; border:none;}

.booking_main.active .price_main{ background:#0a9883;}
.booking_page label{margin-bottom:12px;}

.booking_page .checkbox label{margin-bottom:0;}
.booking_cont{margin:0 0 20px 0; display:inline-block; width:100%;}

 .booking_page textarea.form-control{width:430px;}
 .booking_page .hint_txt{margin:0;}
 
 .input-append{position:relative;}
 
 .add-on{background:url(../images/cal_icon.png) no-repeat; width:18px; height:17px; position:absolute; right:5px; top:8px;}
 .form_date .form-control{font-weight:400;}
 
 .booking_page .col-md-12{margin:0 0 10px 0;}
 .datetimepicker{padding:0; width:240px;}
 .datetimepicker table{width:100%;}
 .dow{background:#403e3d; color:#8d8b8a; font-size:12px; text-align:center; font-weight:400;}
 .datetimepicker tbody{background:#403e3d; color:#FFF; text-align:center;}
 .datetimepicker tbody td {border-right:1px solid #7a7877; border-bottom:1px solid #7a7877;}
  .datetimepicker tbody tr td:last-child {border-right:none;}
 .datetimepicker tfoot{display:none;}
 .datetimepicker tbody td.today, .datetimepicker tbody td:hover {color:#4cd9c0; cursor:pointer;}
 
 .datetimepicker table thead > tr{background:#4cd9c0; color:#FFF;}
 .datetimepicker .icon-arrow-left{ background:url(../images/calander_left.png) no-repeat; float:right; width:9px; height:13px;}
 .datetimepicker .icon-arrow-right{ background:url(../images/calander_right.png) no-repeat; width:9px; float:left; height:13px;}
 .datetimepicker .switch{text-align:center;}
 
 .modal-body  .col-sm-4{width:150px;}
 .modal-body .row{margin-top:0;}
 .pilot_left .image_cont{width:100%; text-align:center;}
 .pilot_left .txt_right_cont{margin:0; width:100%; text-align:center; float:left; padding:0;}
  .pilot_left .txt_right_cont p{margin:0 0 5px 0;}
  .pilot_money{padding:40px 40px 0 40px;}
  .pilot_money{color:#666666; font-size:20px; line-height:40px; font-weight:300;}
  .pilot_bal{float:right; padding:15px 30px; border:1px solid #faaf2a;}
  
  .modal-header .close{ background:url(../images/modal_close_btn.png) no-repeat; width:20px; height:20px; opacity:1;}
  .modal-header{border-bottom:none;}
  .modal-title{width:100%; margin:0 0 30px 0; float:left;}
.success_icon{background:url(../images/success-icon.png) no-repeat left top; padding:0 0 0 25px; float:left; width:100%; line-height:16px;}

.testi_sidebar{font-size:13px; line-height:18px;}
.testi_sidebar p{margin:28px 0; float:left; width:100%;}

.testi_sidebar h2{width:100%; float:left; color:#FFFFFF; background:#36d2bb; font-size:14px; font-weight:600; padding:10px 12px;}

.ui-helper-hidden-accessible{display:none;}
.ui-autocomplete{width:200px !important; height:300px !important;  position:absolute !important;  padding:5px 0 0 0;}
.ui-autocomplete .ui-menu-item{float:left; width:100%; list-style:none; margin:0; padding:0; background:#eeeeed ;}
.ui-autocomplete .ui-menu-item a{padding:5px 15px; border-bottom:1px solid #FFFFFF; float:left; width:100%; color:#666;}
.brdr_right{border-right:1px solid #cccccc;}
.follow_txt{display:inline-block; text-align:center; vertical-align:middle; margin:0 50px;}
.profile_pop .btn{margin:0 0 0 10px; width:125px;}
.profile_pop{padding:30px 0 0 0;}
.follow_txt span{font-weight:600; color:#0a9883; font-size:24px;}
.spacer{margin:10px 0; float:left; width:100%;}
.modal-profile{color:#000000;}
.modal-profile h4{font-size:16px; color:#333333; font-weight:400; margin-bottom:15px;}
.profile_view{color:#e23f3a; text-decoration:underline;}
.pop_pricing .price_list{ margin:0 10px 0 0; line-height:14px; }
.pop_pricing .price_list .price_main{ line-height:32px;}
.avail_cont{font-size:12px; color:#333333; font-weight:400; line-height:18px;}
.saparator_brdr{border-bottom:1px solid #cccccc; margin:20px 0; float:left; width:100%;}
.rating-input .glyphicon{width:17px; height:17px; overflow:hidden; display:inline-block; text-indent:-200px; cursor:pointer;}
.rating-input .glyphicon-star-empty{background:url(../images/star_empty.png) no-repeat; }
.rating-input .glyphicon-star{background:url(../images/star_full.png) no-repeat; }
.rating-clear{display:none;}
.modal-profile .rating-input{float:left; margin:0 0 0 10px;}
.modal-profile .form-control{background:#eeeeed; border:none; resize:none;}
.modal-profile .hint_txt{margin-left:0;}

.review_main{float:left; width:100%; margin:10px 0 30px 0;}
.review_img{float:left; width:65px;}
.review_txt{margin:0 0 0 65px;}
.review_name{float:left; margin:0;}
.review_date{float:right; margin:0;}

.load_link{color:#000000; font-size:13px; font-weight:600; margin:30px 0 30px 65px; display:inline-block;}
.timings_cont label{width:100%; text-align:left; padding-left:0 !important; }
.timings_cont .checkbox-inline{margin:0 5px 0 0; padding-left:0 !important;}
.checkbox-cont{float:left; width:100%; margin:10px 0 20px 0;}
.timing_check .checkbox-inline{width:100px;}
.your_rate{float:left; width:250px;}
.rate_inner{width:100%; float:left; margin:0 0 10px 0;}
.your_rate label{float:left; width:80px;}
.large_label{width:125px !important;}
.your_rate .form-control{width:65px; float:left;}
.your_rate .currency{ padding:6px 0 0 15px; float:left;}
.pay_pop label{float:left; text-align:left; margin-right:20px; width:auto;}
.pay_pop .myselect_main{float:left; width:280px;}
.pay_pop a{color:#000000; text-decoration:underline;}
.modal-body .save_btn{width:135px;}

@media (max-width: 1024px) { 
.left_panel{width:30%;}
.content_panel{width:68%;}
.price_main{width:50px; height:50px; font-size:20px; padding:10px 0 0 0;}
.profile_page .col-sm-4, .profile_page .col-sm-8{padding:0; width:100%;}
.profile_page label{text-align:left;}
.edit_profile label{width:100%;}
.edit_profile .form-control{width:100%; float:left;}
.hint_txt{margin:5px 0;}
.your_rate label{float:left; width:80px;}
.large_label{width:125px !important;}
.your_rate .form-control{width:65px; float:left;}
.settings_page .col-sm-4{width:130px;}
.settings_page  .col-sm-8{width:auto; float:left;}
.settings_page .col-md-12{width:100%; float:left;}

 }
 @media (max-width: 800px) {
.left_panel{width:100%;}
.content_panel{width:100%;}
.hide_tab{display:none;}
.refine_toggle, .close_refine_btn{display:block;}
.white_bg{float:left; width:100%;}
.refine_cont{width:244px; position:fixed; top:0; left:-244px; bottom:0; overflow-y:auto; z-index:9; margin:0;}
.refine_cont .panel-heading{display:inline-block; width:100%;}
.refine_cont .panel-title{color:#e23f3a; font-size:16px;}
.content_panel{padding:0 20px;}
.settings_page .col-sm-4{width:130px;}

.booking_page .col-md-4{margin:0 0 10px 0;}
.booking_page textarea.form-control{width:100%;}
.change_pword{margin:0 0 20px 0;}
.profile_page .col-md-12{padding-right:15px; width:100%; float:left;}
.pilot_money .col-md-6{width:50%; float:left;}
 }
 @media (max-width: 700px) {
	 .top_sub_menu ul li{width:100%; border-bottom:1px solid #d9d9d9; border-right:none;}
	 .top_sub_menu ul li a{background:none !important; padding:8px 10px !important; min-height:100% !important;}
	 
 }
@media (max-width: 600px) {
	  .top_social, .nav, .hide_mobile, .saparator{display:none;}
	  .profile_page{padding:15px;}
	  .menu_toggle{display:block;}
	  .sr_main .btn{width:100%; margin:15px 0 0 0;}
	  .search_main{background:none; box-shadow:none; margin:0;}
	  .search_cont{padding:16px 0;}
	  .search_inner{margin:0 0 12px 0; background-color:#FFFFFF; border:1px solid #d7d7d7; width:100%; }
	  .search_inner input{ background:#fff; }
	  .search_btn{width:100%;}
	  .logo{width:100%; text-align:center;}
	  .top_links{width:100%; float:left; padding:0; display:none;}
	  .top_links a{width:100%; margin:10px 0; text-align:center;}
	  .top_menu li{width:100%; float:left; min-height:20px;}
	  .top_menu li a{background:#FFF; color:#666666; min-height:20px; text-align:left; padding:7px 15px; font-size:15px; font-weight:400;}
	  .top_menu li a.active, .top_menu li a:hover{color:#ffb734; background:#FFF;}
	  .top_menu li a img {display:none;}
	  .top_menu{ border:1px solid #d7d7d7; position:absolute; top:40px; display:none; z-index:100;}
	  .top_menu ul{padding:0;}
	  .top_menu li{border-bottom: 1px solid #d7d7d7; border-right:none;}
	  .top_menu li:last-child{border:none;}
	  .top_menu_cont{position:relative; }
	  .search_results{padding:0 15px 15px;}
	  .footer_links, .footer .top_social, .top_menu_toggle{display:block;}
	  .profile_page .col-md-6, .profile_page .col-md-12{padding-right:15px;}
	  .settings_page  .col-sm-8{float:right; text-align:right;}
	  .settings_page .col-md-12{float:left; width:100%;}
	  .profile_page .row{margin-top:10px; padding-bottom:20px;}
	  .change_pword{margin:5px 0;}
	  .settings_page label{margin:10px 0 0 0;}
	  .profile_page .large{width:100%;}
	  
.pilot_money .col-md-6{width:100%; float:left;}
.pilot_bal{width:100%; text-align:center;}
.body_pad, .pilot_money{padding:15px;}
.your_rate{width:100%;}

   }
   
   
   
   
   
   
   
   